{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'staff/base.css' %}">
    {% block css_files %}
    {% endblock %}
    <title>
        {% block title %} {% endblock %}
    </title>
</head>
<body>
    <header>
        <div class="container">
            <nav>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Supermarket</a></li>
                    <li><a href="#">Staff</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
            </nav>
            <div class="logo">
                <h1>First Vigeo Investment</h1>
            </div>
        </div>
    </header>
    {% block content %}

    {% endblock %}
</body>
</html>