{% extends 'staff/base.html' %}
{% load static %}

{% block css_files %}
<link rel="stylesheet" href="{% static 'staff/index.css' %}">
{% endblock %}

{% block title %}
    Landing Page 
{% endblock %}

{% block content %}
    <main>
        <div class="container">
            <section class="hero">
                <h2>INVEST WITH CONFIDENCE</h2>
                <p>Exactly What You Need</p>
                <p>At First Vigeo, we pride ourselves on our diverse range of expertise spanning across the realms of supermarket retail, agricultural farming, and oil & gas industries. With a commitment to excellence and innovation, we continually strive to deliver high-quality products and services to our customers, partners, and communities.</p>
                <a href="#" class="learn-more">Learn More</a>
            </section>
        </div>
    </main>

    <footer>
        <div class="container">
            <p>&copy; 2024 First Vigeo Investment. All rights reserved.</p>
            <p>We are into supermarket, agricultural farms and oil & Gas.</p>
        </div>
    </footer>
{% endblock %}
