{% extends 'staff/base.html' %}
{% load static %}

{% block css_files %}
{% endblock %}

{% block title %}
    Landing Page 
{% endblock %}

{% block content %}
    <main>
        <div class="container">
            <section class="hero">
                <h2>INVEST WITH CONFIDENCE</h2>
                <p>Exactly What You Need</p>
                <p>At First Vigeo Investment, we believe in empowering entrepreneurs to achieve their dreams. Our mission is to provide the support and resources necessary to turn innovative ideas into successful businesses. With a proven track record of success and a commitment to excellence, you can trust us to help you achieve your goals. To learn more, simply browse through our site.</p>
                <a href="#" class="learn-more">Learn More</a>
            </section>
        </div>
    </main>

    <footer>
        <div class="container">
            <p>&copy; 2024 First Vigeo Investment. All rights reserved.</p>
        </div>
    </footer>
{% endblock %}